h1 {
    color: #4700BE;
    margin-left: 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    input, select {
            color: black;
            font-size: 16px;
            width: 500px;
    }

    .inputDate::placeholder{
        width: 81px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;

    }

    label {
        margin-top: 10px;
        font-size: 16px;
    }
    button {
        width: 200px;
        margin-bottom: 20px;
    }
}

.message{
    color:#ff3a8c;
    font-size: 26px;
    text-align: center;
}
