@font-face {
  src: url('./fonts/Montserrat-Regular.ttf') rel="preload";
    font-family: "Montserrat-Regular";
  src: url('./fonts/Montserrat-Bold.ttf') rel="preload";
    font-family: "Montserrat-Bold";
}

html, body {

  font-family:'Montserrat-Regular', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;

}

main {
  flex: 1 0 auto;
  max-width: 1400px;
  min-width: 700px;
  margin: 0 auto;

}

/* .notActive {
  display:none;
} */

@media screen and (max-width: 1420px) {
  main{
    max-width: 1200px;
  }
}
